# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.log
*.env
*.env.*
.env.production

# Local environment
.vscode/
.idea/
scripts/
.netlify/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore image bases and new variants
public/images/base/
public/images/new/

# (Optionnel) Ignore fichiers temporaires ou générés
*.swp
*.tmp
*.bak
*.orig
